.popover {
  position: absolute;
  top: calc(100% + 8px);
  background: #fff;
  box-shadow: 0 4px 20px 0 #00000014;
  border-radius: 8px;
  padding: 4px 0;
  width: 133px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popover > div {
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  height: 32px;
}

.popover > div:hover {
  background: #dee4ff;
}
