.playerWrapper {
  width: 352px;
  height: 48px;
  border-radius: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #eaf0fa;
  padding: 16px 22px;
  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.playButton {
  width: 24px;
  height: 24px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.progress {
  width: 164px;
  height: 4px;
  border-radius: 50px;
  background: #adbfdf;
}
